# --- Large data files (ignored) ---
data/raw/*
data/clean/*

# Keep folder structure
!data/raw/.gitkeep
!data/clean/.gitkeep

# Python environment
bioenv/

# Temporäre Dateien
*.log
*.tmp
*.swp
__pycache__/
*.pyc
